html {
  scroll-behavior: smooth;
}

#loadingHH {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.spinnerHH {
  width: 50px;
  height: 50px;
  border: 6px solid #444;
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}
@keyframes spin {
  to { transform: rotate(360deg); }
}

#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
}

#welcome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.IconPG{
  width: 125px;
  height: 125px;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main div:hover{
 cursor: default;
}
.BENGA1{
  padding: 0px;
  background: transparent;
  backdrop-filter: blur(5px);
  max-width: fit-content;
  margin: 100px 0px 0px 0px;
  border-radius: 22px;
}
#Titulodapg{
  margin: 0px;
}
/* margin: emcima direta embaxo esquerda*/
.BENGA2div{
  padding: 0px;
  background: transparent;
  backdrop-filter: blur(5px);
  max-width: fit-content;
  margin: 50px 65vw 0px 0px;
  border-radius: 0px;
}
.BENGA2q{
  max-width: fit-content;
  border-radius: var(--bs-border-radius-xl);
}
.BENGA3{
  padding: 0px;
  background: transparent;
  backdrop-filter: blur(5px);
  max-width: fit-content;
  margin: -2px 0px 0px 16vw;
  border-radius: 0px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}